.user {
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 26px 0 rgb(133 153 171 / 10%);
    box-shadow: 0 2px 26px 0 rgb(133 153 171 / 10%);
}


.basicInfo p{
    margin: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    color: #3b6585;
    letter-spacing: 0;
    display: flex;
    // justify-content: center;
    align-items: center;
    span:nth-child(2) {
        margin-left: 10px;
        margin-top: 3px;
    }
}