<footer class="footer-light-medium">
  <div class="container">
      <div class="footer-head">
          <div class="head-text">
              <h3>Find the Best Remote Talent</h3>
              <p>Engage our specialized recruiting services for free <br>
                  (We do not charge the employees/ employers not generate revenue by adverts or your data)</p>
          </div>
          <div class="head-action">
              <div class="buttons">
                  <a class="button primary-btn raised action-button is-bold" routerLink="/sign-up/client">Find Your Talent </a>
                  <!-- <a class="button chat-button">Chat with us</a> -->
              </div>
          </div>
      </div>
      <div class="columns footer-body">
          <!-- Column -->
          <div class="column is-4">
              <div class="pt-10 pb-10">
                  <img class="small-footer-logo" src="assets/img/Version 1.1.png" alt="">
                  <div class="footer-description">
                      GENXYZ TECHNOLOGIES PRIVATE LIMITED <br>
                      Company Identification Number(CIN): U74999KA2021PTC148579 <br>
                      Bengaluru, India<br>
                      Contact: +91 8558 805 805                      
                  </div>
              </div>
              <div>
                  <!-- <span class="moto">Designed and coded with <i class="fa fa-heart color-red"></i> by CSS
                      Ninja.</span> -->
                  <div class="social-links">
                      <!-- <a href="#">
                          <span class="icon"><i class="fa fa-facebook"></i></span>
                      </a>
                      <a href="#">
                          <span class="icon"><i class="fa fa-twitter"></i></span>
                      </a> -->
                      <a href="https://www.linkedin.com/company/genxyz-work">
                          <span class="icon"><i class="fa fa-linkedin"></i></span>
                      </a>
                      <!-- <a href="#">
                          <span class="icon"><i class="fa fa-dribbble"></i></span>
                      </a>
                      <a href="#">
                          <span class="icon"><i class="fa fa-github"></i></span>
                      </a> -->
                  </div>
              </div>
          </div>
          <!-- Column -->
          <div class="column is-6 is-offset-2">
              <div class="columns">
                  <!-- Column -->
                  <div class="column">
                      <ul class="footer-column">
                          <li class="column-header">
                              Companies
                          </li>
                          <li class="column-item"><a routerLink="/sign-up/client">Source Talent</a></li>
                          <li class="column-item"><a routerLink="/sign-up/client">Post Vacancy</a></li>
                          <li class="column-item"><a pageScroll href="#pricingGenXyz">Pricing</a></li>
                      </ul>
                  </div>
                  <div class="column">
                      <ul class="footer-column">
                          <li class="column-header">
                              Candidates
                          </li>
                          <li class="column-item"><a routerLink="/sign-up/candidate">Find Remote Jobs</a></li>
                      </ul>
                  </div>
                  <div class="column">
                      <ul class="footer-column">
                          <li class="column-header">
                              Info
                          </li>
                          <li class="column-item"><a routerLink="/about-us">About us</a></li>
                          <li class="column-item"><a routerLink="/Blogs">Blogs</a></li>
                          <li class="column-item"><a routerLink="/privacy-policy">Privacy policy</a></li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
      <div class="footer-copyright has-text-centered">
          <p>&copy; 2021 | All Rights Reserved.</p>
      </div>
  </div>
</footer> <!-- Side navigation -->