.leftText {
    font-size: 65px;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    line-height: 104px;
}

angular-editor {
    margin-bottom: 20px !important;
    background: rgba(0,0,0,.04);
}

.angular-editor-wrapper {
    background: rgba(0,0,0,.04) !important;
}