<div class="section is-medium is-app-grey">
    <div class="container">

        <!--Title-->
        <div class="title-wrap has-text-centered">
            <h2 class="title is-spaced is-2">Search remote jobs by popular categories</h2>
            <!-- <h3>Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit.</h3> -->
            <img src="assets/img/graphics/legacy/divider.svg" class="special-divider" alt="">
        </div>

        <!-- Wrapper -->
        <div class="content-wrapper">

            <div class="job-categories">
                <div class="job-categories-inner">

                    <!--Category-->
                    <a href="#" class="job-category tilt-card rounded">
                        <div class="job-category-overlay">
                        </div>
                        <div class="job-category-image">
                            <img src="https://images.pexels.com/photos/340152/pexels-photo-340152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                                data-demo-src="https://images.pexels.com/photos/340152/pexels-photo-340152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" />
                        </div>
                        <div class="job-category-heading">
                            <span class="small">Web Development</span>
                            <h2>JS Frontend</h2>
                        </div>
                    </a>

                    <!--Category-->
                    <a href="#" class="job-category tilt-card rounded">
                        <div class="job-category-overlay">
                        </div>
                        <div class="job-category-image">
                            <img src="https://images.pexels.com/photos/3584974/pexels-photo-3584974.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                                data-demo-src="https://images.pexels.com/photos/3584974/pexels-photo-3584974.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" />
                        </div>
                        <div class="job-category-heading">
                            <span class="small">Design</span>
                            <h2>UI Design</h2>
                        </div>
                    </a>

                    <!--Category-->
                    <a href="#" class="job-category tilt-card rounded">
                        <div class="job-category-overlay">
                        </div>
                        <div class="job-category-image">
                            <img src="https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                                data-demo-src="https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" />
                        </div>
                        <div class="job-category-heading">
                            <span class="small">Design</span>
                            <h2>UX Design</h2>
                        </div>
                    </a>

                    <!--Category-->
                    <a href="#" class="job-category tilt-card rounded">
                        <div class="job-category-overlay">
                        </div>
                        <div class="job-category-image">
                            <img src="https://images.pexels.com/photos/3059748/pexels-photo-3059748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                                data-demo-src="https://images.pexels.com/photos/3059748/pexels-photo-3059748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" />
                        </div>
                        <div class="job-category-heading">
                            <span class="small">Web Development</span>
                            <h2>Database Design</h2>
                        </div>
                    </a>

                    <!--Category-->
                    <a href="#" class="job-category tilt-card rounded">
                        <div class="job-category-overlay">
                        </div>
                        <div class="job-category-image">
                            <img src="https://images.pexels.com/photos/3861961/pexels-photo-3861961.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                                data-demo-src="https://images.pexels.com/photos/3861961/pexels-photo-3861961.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" />
                        </div>
                        <div class="job-category-heading">
                            <span class="small">Web Development</span>
                            <h2>Backend</h2>
                        </div>
                    </a>

                    <!--Category-->
                    <a href="#" class="job-category tilt-card rounded">
                        <div class="job-category-overlay">
                        </div>
                        <div class="job-category-image">
                            <img src="https://images.pexels.com/photos/618613/pexels-photo-618613.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                                data-demo-src="https://images.pexels.com/photos/618613/pexels-photo-618613.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" />
                        </div>
                        <div class="job-category-heading">
                            <span class="small">Business</span>
                            <h2>Analytics</h2>
                        </div>
                    </a>

                    <!--Category-->
                    <a href="#" class="job-category tilt-card rounded">
                        <div class="job-category-overlay">
                        </div>
                        <div class="job-category-image">
                            <img src="https://images.pexels.com/photos/373945/pexels-photo-373945.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                                data-demo-src="https://images.pexels.com/photos/373945/pexels-photo-373945.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" />
                        </div>
                        <div class="job-category-heading">
                            <span class="small">Management</span>
                            <h2>Products</h2>
                        </div>
                    </a>

                    <!--Category-->
                    <a href="#" class="job-category tilt-card rounded">
                        <div class="job-category-overlay">
                        </div>
                        <div class="job-category-image">
                            <img src="https://images.pexels.com/photos/3585088/pexels-photo-3585088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""
                                data-demo-src="https://images.pexels.com/photos/3585088/pexels-photo-3585088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" />
                        </div>
                        <div class="job-category-heading">
                            <span class="small">Development</span>
                            <h2>Mobile Apps</h2>
                        </div>
                    </a>
                </div>
            </div>

            <!-- CTA -->
            <div class="cta-wrapper has-text-centered is-title-reveal pt-60">
                <a href="#" class="button button-cta is-bold btn-align primary-btn raised">
                    View All Categories
                </a>
            </div>

        </div>

    </div>
</div>