<div class="hero product-hero is-app-grey is-relative">
    <nav #appNav class="navbar navbar-wrapper navbar-default">
        <div class="container">
            <!-- Brand -->
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img class="switcher-logo logoImage" src="assets/img/Version 1.1.png" alt="">
                </a>

                <!-- Responsive toggle -->
                <div class="custom-burger" data-target="">
                    <!-- <a id="" class="responsive-btn" href="javascript:void(0);"> -->
                        <button   class="responsive-btn menu-drop" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                    <!-- </a> -->
                </div>
                <!-- /Responsive toggle -->
            </div>

            <!-- Navbar menu -->
            <div class="navbar-menu">
                <!-- Navbar Start -->
                <div class="navbar-start">
                    <!-- Navbar item -->
 
                    <!-- Navbar item -->
                    <!-- <a class="navbar-item is-slide" href="#">
                        About Us
                    </a>
                    <a class="navbar-item is-slide" href="#">
                        Contact Us
                    </a> -->
                </div>


                <!-- Navbar end -->
                <div class="navbar-end">
                    <button class="menu-drop" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    <!-- <a pageScroll  class="navbar-item is-slide" href="#pricingGenXyz">
                        Pricing
                    </a> -->
                    <!-- <a pageScroll  class="navbar-item is-slide">
                        Job Post
                    </a> -->
                    <!-- <div class="navbar-item is-button">
                        <a id="#signup-btn" href="#" class="button button-cta is-bold is-rounded btn-align" routerLink="/sign-up/client">
                            Post Job
                        </a>
                    </div>
                    <div class="navbar-item is-button">
                        <a id="#signup-btn" href="#" class="button button-cta is-bold is-rounded btn-align primary-btn raised" routerLink="/schedule-meeting">
                            Talk with us
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </nav>
    <!-- <div style="height: 4.6rem;"></div> -->
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="routeToMyProfile()">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>