div {
    
    // font-family: "Nexa Bold", sans-serif;
    font-style: "Roboto", sans-serif;
    
}




.body-text {

    font-size: 1em;
    color: #696868;
    // font-family: "Nexa Bold", sans-serif;

}



section {

    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;

  }