<div>
  <div class="clearfix clearHeader"></div>

  <section>
    <h1 class="title main-title text-bold is-3">Privacy Policy</h1>
    <h2 class="subtitle is-6 no-margin-bottom body-color">
      Last updated on October 25, 2021.
    </h2>
    <hr />

    <div class="body-text">
      <span><b>This Privacy Policy applies to the GenXYZ.Work</b><br />
        This privacy policy (&quot;policy&quot;) will help you understand how
        [GENXYZ TECHNOLOGIES PRIVATE LIMITED] (&quot;us&quot;, &quot;we&quot;,
        &quot;our&quot;) uses and protects the data you provide to us when you
        visit and use [GenXYZ.Work]
        (&quot;website&quot;, &quot;service&quot;).<br /></span><br />
      <span>
        GenXYZ.work recognizes the importance of maintaining your privacy. We
        value your privacy and appreciate your trust in us. By visiting and/or
        using our website, you agree to this Privacy Policy.<br /><br />GenXYZ.work
        is a property of GENXYZ TECHNOLOGIES PRIVATE LIMITED, an Indian Company
        registered under the Companies Act, 2013 having its registered office at
        Plot No. C8 Vadde Nagappa Colony, Cantonment Bellary Karnataka, India
        583104. <br /><br />We reserve the right to change this policy at any
        given time, of which you will be promptly updated. If you want to make
        sure that you are up to date with the latest changes, we advise you to
        frequently visit this page.<br /><br /></span>

      <b>Safeguarding and Securing the Data</b>
      <br />[GENXYZ TECHNOLOGIES PRIVATE LIMITED] is committed to securing your
      data and keeping it confidential. [GENXYZ TECHNOLOGIES PRIVATE LIMITED]
      has done all in its power to prevent data theft, unauthorized access, and
      disclosure by implementing the latest technologies and software, which
      help us safeguard all the information we collect online.<br /><br />
      <b>Our Cookie Policy</b>
      <br />Once you agree to allow our website to use cookies, you also agree
      to use the data it collects regarding your online behavior (analyze web
      traffic, web pages you spend the most time on, and websites you visit).<br /><br />The
      data we collect by using cookies is used to customize our website to your
      needs. After we use the data for statistical analysis, the data is
      completely removed from our systems.<br /><br />Please note that cookies
      don&#39;t allow us to gain control of your computer in any way. They are
      strictly used to monitor which pages you find useful and which you do not
      so that we can provide a better experience for you.<br /><br />
      If you want to disable cookies, you can do it by accessing the settings of
      your internet browser. (Provide links for cookie settings for major
      internet browsers).<br /><br />
      <b>We collect information in different ways.</b><br /><br />
      <b>We collect information directly from you.</b><br />
      We collect information directly from you when you register for an event or
      buy tickets. We also collect information if you post a comment on our
      websites or ask us a question through phone or email.<br /><br />
      <b>We collect information from you passively.</b><br />
      We use tracking tools like Zoho sales IQ for chat support, Google
      Analytics, Google Webmaster, browser cookies and web beacons for
      collecting information about your usage of our website. <br /><br />
      <b>We get information about you from third parties.</b><br />
      For example, if you use an integrated social media feature on our
      websites. The third-party social media site will give us certain
      information about you. This could include your name and email address.<br /><br />
      <b> Use of your personal information</b><br /><br />
      <b>We use information to contact you</b><br />
      We might use the information you provide to contact you for confirmation
      of a purchase on our website or for other promotional purposes. <br /><br />
      <b>We use information to respond to your requests or questions.</b><br />
      We might use your information to confirm your registration for an event or
      contest. <br /><br />
      <b>We use information to improve our products and services.</b><br />
      We might use your information to customize your experience with us. This
      could include displaying content based upon your preferences, location.<br /><br />
      <b>We use information to look at site trends and customer interests.</b>
      We may use your information to make our website better. We may combine
      information we get from you with information about you we get from third
      parties.<br /><br />
      <b>We use information for security purposes.</b><br />We may use
      information to protect our company, our customers, or our websites.<br /><br /><b>We use information for
        marketing purposes.</b><br />We might send you information about offers. We might also tell you
      about new features or services. <br /><br /><b>We use information to send you transactional communications.</b>
      We might send you emails or SMS about your account. <br /><br />We use
      information as otherwise permitted by law.<br /><br />
      <b>Sharing of information with third-parties</b><br /><br /><b>We may share information if we think we have to in
        order to comply with
        the law or to protect ourselves.</b>
      We will share information to respond to a court order or subpoena. We may
      also share it if a government agency or investigatory body requests. Or,
      we might also share information when we are investigating potential fraud.
      <br /><br /><b>We may share information with any successor to all or part of our
        business.</b>
      For example, if part of our business is sold we may give our customer list
      as part of that transaction.<br /><br /><b>We may share your information for reasons not described in this
        policy.</b>
      We will tell you before we do this.<br /><br />[GENXYZ TECHNOLOGIES
      PRIVATE LIMITED] will not lease, sell or distribute your personal
      information to any third parties, unless we have your permission. We might
      do so if the law forces us. Your personal information will be used when we
      need to send you updates on the services if you agree to this privacy
      policy.<br /><br /><b>Email Opt-Out</b><br /><b>You can opt out of receiving our marketing emails and update on
        services.</b>
      To stop receiving our emails, please reply Unsubscribe to the sender of
      the Email. It may take about two days to process your request.<br /><br /><b>Third party sites</b><br />If you
      click on one of the links to third party websites, you may
      be taken to websites we do not control. This policy does not apply to the
      privacy practices of those websites. Read the privacy policy of other
      websites carefully. We are not responsible for these third party sites. 
      <br /><br /><b>Grievance Officer</b><br />In accordance with Information
      Technology Act 2000 and rules made there under, the name and contact
      details of the Grievance Officer are provided below:<br /><br />Mr. Sourab
      Kadadi<br />Email: sourab.kadadi@genxyz.work<br /><br />If you have any questions
      about this Policy or other privacy concerns, you can also email us at
      sourabyk@gmail.com <br /><br />
      <b>Updates to this policy</b><br />This Privacy Policy was last updated on
      October 22, 2021. From time to time we may change our privacy practices.
      We will notify you of any material changes to this policy as required by
      law. We will also post an updated copy on our website. Please check our
      site periodically for updates.<br /><br /><b>Jurisdiction</b><br />If you
      choose to visit the website, your visit and any dispute over privacy
      is subject to this Policy and the website&#39;s terms of use. In addition
      to the foregoing, any disputes arising under this Policy shall be governed
      by the laws of India.  <br /><br />
    </div>
  </section>
</div>