<div id="pricingGenXyz" class="hero is-relative is-app-grey is-medium is-pricing has-animated-waves waves-bottom waves-primary">

    <div class="hero-body">
        <div class="animated-waves">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
    </div>
</div>
<div  class="section section-primary has-pseudo-lines z-index-0 pricingTitle">
    <h1 class="title is-1 is-medium">
        Pricing.
    </h1>
    <!-- <h2 class="title is-1 is-medium">
        Flat & Transparent (Zero commissions & No hidden costs)
    </h2> -->
</div>
<!-- Pricing Section -->
<div class="section section-primary has-pseudo-lines z-index-0">

    <div class="container">

        <!-- Pricing wrapper -->
        <div class="switch-pricing-wrapper">
            <div class="pricing-container">

                <div class="flex-card">
                    <!-- Pricing table -->
                            <!-- Pricing image -->
                    <div class="plan-price is-monthly is-active">
                        <div class="price-head ">Contractor</div>
                        <div class="title-divider"></div>
                        <span>19/contractor/ month</span>
                    </div>
                    <div class="plan-price is-monthly is-active">
                        <div class="price-head">Employee</div>
                        <div class="title-divider"></div>
                        <span>49/employee/ month</span>
                    </div>
                    <div class="comment-h2">
                        <h2 class="comment-h2">
                            Flat & Transparent (Zero commissions & No hidden costs) <br>Say Good Bye to commissions and percentage cut affecting net take of employees
                        </h2>

                    </div>
                    <!-- <div class=" Schedule-Meeting button-wrapper">
                        <a href="#"
                            class="button primary-btn is-fullwidth raised btn-align is-bold btn-upper" routerLink="/schedule-meeting">Schedule Meeting
                        </a>
                    </div> -->

                    <div class="navbar-item is-button is-hidden-tablet mob-button">
                        <a id="#signup-btn" href="#" class="button button-cta is-bold is-rounded btn-align raised hire-button-color" routerLink="/sign-up/client">
                            Hire Now
                        </a>
                    <a id="#signup-btn" href="#" class="button button-cta is-bold is-rounded btn-align primary-btn raised" routerLink="/schedule-meeting">
                        Request Demo
                    </a>
                <!-- <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/sourab-kadadi/lets-talk'});return false;">Schedule time with me</a> -->
                
                </div>
                </div>
            </div>
        </div>
    </div>
</div>