<div class="clearfix clearHeader"></div>
 
 <!-- :::::::::::::::::::::::::::::::::::::::::: Laanding Banner Image :::::::::::::::::::::::::::::::::: -->
 <div class="hero product-hero is-app-grey is-relative">
    <div class="caption v-middle text-cente">
        <h1 class="cd-headline clip animateDev">
            <span class="blc">Hire a | </span>
            <span class="cd-words-wrapper">
              <b class="is-visible">Designer.</b>
              <b>Developer.</b>
              <b>Creative.</b>
            </span>
          </h1>
    </div>
    <!-- Hero image -->
    <div id="main-hero" class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-6 signup-column has-text-left">

                    <!--Update Pill-->

                    <h1 class="title main-title text-bold" style="margin: 0; font-size: 3.6em;">
                        Simplified
                    </h1>
                    <h1 class="title main-title text-bold" style="font-size: 3.0em; margin-bottom: 0.1em; margin-top: 0.1em">
                        hiring & managing
                    </h1>
                    <h1 class="title main-title text-bold" style="font-size: 2.4em; margin-bottom: 0.9em;">
                        globally distributed employees.
                    </h1>

                    <h2 class="subtitle is-5 no-margin-bottom body-color">
                        Source + Hire + Manage payroll/ contractors payments, benefits and taxes all on a single platform.
                    </h2>
                    <br>
                    <div class="navbar-item is-button is-hidden-tablet mob-button">
                            <a id="#signup-btn" href="#" class="button button-cta is-bold is-rounded btn-align raised hire-button-color" routerLink="/sign-up/client">
                                Hire Now
                            </a>
                        <a id="#signup-btn" href="#" class="button button-cta is-bold is-rounded btn-align primary-btn raised" routerLink="/schedule-meeting">
                            Request Demo
                        </a>

                    </div>
                </div>
                <div class="column is-7">
                    <!-- Hero mockup -->
                    <figure class="image">
                        <img src="assets/img/banner1_updated.gif"  alt="Globally connected Employees">
                    </figure>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- ::::::::::::::::::::::::::::::::::::::::::::: Feature Section ::::::::::::::::::::::::::::::::::::::::: -->
<div id="services" class="padding-30-tb section is-app-grey is-medium section-background-custom">
    <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">      
            <h2 class="section-title-landing">
                Why GenXYZ.work?
            </h2>
        </div>

        <div class="content-wrapper">
            <div class="columns is-vcentered is-multiline has-text-centered addOn">
                <!-- Icon block -->
                <div class="column is-3">
                    <div class="wavy-icon-box">
                        <div class="is-icon-reveal">
                            <span class="material-icons">
                                person_search
                            </span>                              
                        </div>
                        <div class="box-title">Source high quality talent.</div>
                        <p class="box-content is-tablet-padded">Pre-screened talent by industry experts to prioritize hire and move faster and cheaper </p>
                    </div>
                </div>
                <!-- Icon block -->
                <div class="column is-3">
                    <div class="wavy-icon-box">
                        <div class="is-icon-reveal">
                            <span class="material-icons">
                                account_balance
                            </span>
                        </div>
                        <div class="box-title">Compliance</div>
                        <p class="box-content is-tablet-padded">Automated Legal and tax compliance on a single platform to manage contractors/employee</p>
                    </div>
                </div>
                <!-- Icon block -->
                <div class="column is-3">
                    <div class="wavy-icon-box">
                        <div class="is-icon-reveal">
                            <span class="material-icons">
                                manage_accounts
                            </span>
                        </div>
                        <div class="box-title">Local expertise</div>
                        <p class="box-content is-tablet-padded">Use our local HR expertise to offer benefits and support where ever they live.</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="wavy-icon-box">
                        <div class="is-icon-reveal">
                            <span class="material-icons">
                                fingerprint
                                </span>
                        </div>
                        <div class="box-title">Background Verification</div>
                        <p class="box-content is-tablet-padded">We undertake rigorous background check/verification of employees during onboarding </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section is-app-grey is-medium section-background-custom">
   <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">
            <h2 class="section-title-landing"  >
                Engage your global talents as remote <br> 
                <span class="employees-span"> Employee/ Contractor </span>
            </h2>
            <!-- <h2 class="subtitle is-5 no-margin-bottom body-color">
                Forget about background-check/ administrative/ payroll-processing/ timely-payments/ legal/taxation. 
            </h2> -->
            <h2 class="subtitle is-5 no-margin-bottom body-color">Just hire as per the suitability (Employee/ Contractor) in minutes. We will handle the rest.</h2>
        </div>

        <div class="content-wrapper">
            <div class="columns is-vcentered">
                <div class="empCard column is-6 card ht-14rem">
                    <!-- Title -->
                    <div class="icon-subtitle"><i class="im im-icon-Calendar-4"></i></div>
                    <div class="title quick-feature has-numbers text-bold ">
                        <div>Engage as an Employee</div>
                        <!-- <div class="bg-number">1</div> -->
                    </div>
                    <div class="title-divider is-small"></div>
                        <ul class="points">
                            <li>Our employer of record service enables you to hire remote full-time employees and integrate them into your team without the need to establish a local entity.</li>
                            <li>Preferred model to engage remote talent that prefers longer-term sustainable jobs with full access to statutory benefits.</li>

                        </ul>

                    <!-- <div class="pt-10 pbpp-10">
                        <a href="#" class="button btn-align btn-more is-link color-primary">
                            Learn more <i class="sl sl-icon-arrow-right"></i>
                        </a>
                    </div> -->
                </div>
                <!-- This column will display only on desktop and tablet landscape resolutions -->
                <div class="conCard column is-6 card ht-14rem">
                    <!-- Title -->
                    <div class="icon-subtitle"><i class="im im-icon-Video-2"></i></div>
                    <div class="title quick-feature has-numbers text-bold">
                        <h2>Engage as a Contractor</h2>
                        <!-- <div class="bg-number">2</div> -->
                    </div>
                    <div class="title-divider is-small"></div>
                        <ul class="points" >
                            <li>Our contract agreement templates are customized and are fully compliant with local tax and labor laws so that you can engage them anywhere in the world without hassles.</li>
                            <li>Preferred model to access talent on short term and on project to project basis.</li>
                        </ul>
                    <!-- <p class="body-text sl-icon-arrow-right">Preferred model to access talent on short term and on project to project basis.</p> -->
                </div>
                <!-- <div class="column is-5 is-offset-1">
                    <img src="assets/img/employee.svg"
                        data-base-url="assets/img/employee.svg" data-extension=".svg" alt="">
                </div> -->
            </div>
        </div>
    </div>
    <div class="navbar-item is-button is-hidden-tablet mob-button">
        <a id="#signup-btn" href="#" class="button button-cta is-bold is-rounded btn-align raised hire-button-color" routerLink="/sign-up/client">
            Hire Now
        </a>
    <a id="#signup-btn" href="#" class="button button-cta is-bold is-rounded btn-align primary-btn raised" routerLink="/schedule-meeting">
        Request Demo
    </a>
<!-- <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/sourab-kadadi/lets-talk'});return false;">Schedule time with me</a> -->

</div>
    <div class="column is-10 is-offset-1 card is-centered cardMargin-top section-background-custom">
        <div class="minimal-feature">
            <div class="title quick-feature has-numbers text-bold">
                <div>Benefits</div>
            </div>
            <div class="title-divider is-small"></div>
            <div class="solid-list">
                <div class="solid-list-item">
                    <div class="list-bullet">
                        <i class="sl sl-icon-check primary-text"></i>
                    </div>
                    <div class="list-text">
                        <span class="body-color"><b>One platform </b> to source, hire, onboard, manage and pay remote employees anywhere in the world</span>
                    </div>
                </div>
                <div class="solid-list-item">
                    <div class="list-bullet">
                        <i class="sl sl-icon-check primary-text"></i>
                    </div>
                    <div class="list-text">
                        <span class="body-color"><b>Scale your team efficiently and quickly</b> with pre-screened remote talent</span>
                    </div>
                </div>
                <div class="solid-list-item">
                    <div class="list-bullet">
                        <i class="sl sl-icon-check primary-text"></i>
                    </div>
                    <div class="list-text">
                        <span class="body-color">Seamlessly post remote job vacancies, in a customizable template and identify suitable candidates with <b>skills matching score</b> to <b>prioritize hiring.</b></span>
                    </div>
                </div>
                <div class="solid-list-item">
                    <div class="list-bullet">
                        <i class="sl sl-icon-check primary-text"></i>
                    </div>
                    <div class="list-text">
                        <span class="body-color">You have <b>full control on Your Intellectual property(IP)</b></span>
                    </div>
                </div>
                <div class="solid-list-item">
                    <div class="list-bullet">
                        <i class="sl sl-icon-check primary-text"></i>
                    </div>
                    <div class="list-text">
                        <span class="body-color"><b>Complete transparency </b> in hiring/managing</span>
                    </div>
                </div>

                <div class="solid-list-item">
                    <div class="list-bullet">
                        <i class="sl sl-icon-check primary-text"></i>
                    </div>
                    <div class="list-text">
                        <span class="body-color">Never run out of budget to hire high-quality talent</span>
                    </div>
                </div>
                <div class="solid-list-item">
                    <div class="list-bullet">
                        <i class="sl sl-icon-check primary-text"></i>
                    </div>
                    <div class="list-text">
                        <span class="body-color">You have <b>full management control </b> over employees including performance appraisals and termination</span>
                    </div>
                </div>
                <div class="solid-list-item">
                    <div class="list-bullet">
                        <i class="sl sl-icon-check primary-text"></i>
                    </div>
                    <div class="list-text">
                        <span class="body-color">We provide <b>localized end to end HR support</b> not limited to statutory compliances, medical insurance, taxation.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-process-steps></app-process-steps>


 <!-- :::::::::::::::::::::::::::::::::::::::::: Laanding Banner Image :::::::::::::::::::::::::::::::::: -->

 <div id="services" class="section is-medium">
    <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">
            <!-- <div class="bg-number">+</div> -->
            <h2 class="section-title-landing">
                Addon's
            </h2>
            <!-- <h4>If required(cost will be billed without additional charges)</h4> -->
        </div>

        <div class="content-wrapper">
            <div class="columns is-vcentered is-multiline has-text-centered addOn">
                <!-- Icon block -->
                <div class="column is-5 is-offset-1">
                    <div class="wavy-icon-box">
                        <div class="is-icon-reveal">
                            <span class="material-icons">
                                devices
                                </span>
                        </div>
                        <div class="box-title">Purchase Accessories</div>
                        <p class="box-content is-tablet-padded">Order new laptops and other accessories including furniture for your employees </p>
                    </div>
                </div>
                <!-- Icon block -->
                <div class="column is-5 is-offset-1">
                    <div class="wavy-icon-box">
                        <div class="is-icon-reveal">
                            <span class="material-icons">
                                corporate_fare
                                </span>
                        </div>
                        <div class="box-title">Get Co-Working Space</div>
                        <p class="box-content is-tablet-padded">Rent and manage Co-working spaces/full office for your employee</p>
                    </div>
                </div>
                <!-- Icon block -->
            </div>
        </div>
    </div>
</div>

<app-pricing></app-pricing>


<!-- <div class="container contemplating-section">
    <div class="section-title-wrapper has-text-centered">
        <div class="bg-number">X</div>
        <h2 class="section-title-landing">
            Contemplating on other options?
        </h2>
    </div>
<div class="columns is-vcentered contemprory">
<div class="column is-6 card is-centered cardMargin-top p-30">
    <div class="minimal-feature">
        <div class="con-title quick-feature has-numbers text-bold">
            <div>Hire as a contractor in India</div>
        </div>
        <div class="title-divider is-small"></div>
        <div class="solid-list">
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-close primary-text"></i>
                </div>
                <div class="list-text">
                    <span class="body-color">Not the preferred route as the obligation of the employees to contribute to the growth of the company is limited</span>
                </div>
            </div>
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-close primary-text"></i>
                </div>
                <div class="list-text">
                    <span class="body-color">No IP protection (also hard to navigate the legal route to deploy the company's rights on )</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="column is-6 card is-centered cardMargin-top p-30">
    <div class="minimal-feature">
        <div class="con-title quick-feature has-numbers text-bold">
            <div>Setup a base in India</div>
        </div>
        <div class="title-divider is-small"></div>
        <div class="solid-list">
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-close primary-text"></i>
                </div>
                <div class="list-text">
                    <span class="body-color">Established firms have time, money and resources to start a company in India(to comply with local regulations) and to hire employees in India</span>
                </div>
            </div>
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-close primary-text"></i>
                </div>
                <div class="list-text">
                    <span class="body-color">But, how about startups and growing organizations who lack time and resources to setup a base in India just to hire 1 or 2 to 15 employees, in turn making it difficult for them to stay competitive in this era where established players are capturing the majority of the market</span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="column center-align">
<div class="scroll-prompt" scroll-prompt="" ng-show="showPrompt" style="opacity: 1;">
    <div class="scroll-prompt-arrow-container">
        <div class="scroll-prompt-arrow"><div></div></div>
        <div class="scroll-prompt-arrow"><div></div></div>
    </div>
</div>
</div> -->
<!-- <div class="card is-10">
<div class="column sheduleMeeting">
<h2 class="subtitle is-10 no-margin-bottom body-color">
    Both the above methods might not be efficient for you if you are a startup/growing organization or a Small and Medium enterprise
</h2>
<h2 class="subtitle is-10 no-margin-bottom body-color" style ="text-align: center;">
    Schedule a Meeting for 5 mins to understand our cost effective model.
</h2>
<div class="Schedule-Meeting button-wrapper is-10">

    <a href="#"
        class="button primary-btn is-fullwidth raised btn-align is-bold btn-upper" routerLink="/schedule-meeting">Schedule Meeting
        </a>
</div>
</div>
</div> -->

