<div>
  <div class="clearfix clearHeader"></div>
  <section>
      <h1 class="title main-title text-bold is-3 has-text-centered">
        About Us
      </h1>
      <!-- <h2 class="subtitle is-6 no-margin-bottom body-color">
        Last updated on October 25, 2021.
      </h2> -->
      <hr />
      <div class="body-text">
        <span><a href="http://genxyz.work/"> GenXYZ.work </a> is a platform focused on helping companies to discover
          remote working talent around the world* and support them in hiring and
          managing the payroll, benefits, etc., of the onboarded employees
          through our employer of record services model.</span><br /><br />
        <span>On the other side, <a href="http://genxyz.work/"> GenXYZ.work </a> empowers
          candidates to find suitable remote jobs helping them remain flexible
          with the work locations.</span><br /><br />
        <span>The large corporates always had an added advantage to scale up
          quickly by hiring the best talents across the world on account of the
          sheer availability of resources(time and money). We are here to break
          the barriers and bring equitable advantage to the small and mid-scale
          businesses and startups to hire the best talent at lower expenses all
          over the world*.</span><br /><br />
        <!-- <span class="italics">*Currently available in India; launching soon in other
          countries
        </span> -->
        <br /><br /> 
      </div>
      
      <!-- <h2 class="has-text-centered section-title-landing">
        Meet the Team
      </h2>
      <div class="cards">
        <article class="card">
            <img src="../../../assets/img/Sourab.jpg" alt="Hot air balloons">
            <header>
              <h2>Sourab Kadadi</h2>
              <h3>Co-founder and CEO</h3>
            </header>
            <div class="content">
                <p> Sourab has over 3 years of experience in analysing  </p>
            </div>
        </article>
        
        <article class="card">

              <img src="balloons.jpg" alt="Hot air balloons">
              <header>
                <h2>Samarth S</h2>
                <h3>Co-founder and CTO</h3>
              </header>    
              <div class="content">
                  <p> The idea of reaching the North Pole by means of balloons appears to have been entertained many years ago. </p>
              </div>                  
        </article>     
      </div>   -->
    <br>
    <br>
    <br>
    <br>    
    <br>
  </section>
</div>


