<div id="about" class="section is-app-grey is-medium">
    <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">
            <div class="bg-number">3</div>
            <h2 class="section-title-landing">
                How it Works
            </h2>
            <h3 class="section-subtitle-alt">Simple 3 step process to get <b>"hired"</b>.</h3>
        </div>
  
        <!-- Process steps -->
        <div class="content-wrapper">
            <div class="columns is-vcentered">
                <!-- Process step -->
                <div class="column is-4">
                    <div class="process-block has-line">
                        <div class="process-icon is-icon-reveal">
                            <div class="icon-wrapper">
                                <!-- <i class="im im-icon-Arrow-Over"></i> -->
                                    <span class="material-icons-outlined i-m-icon">
                                        <!-- <div>
                                        <img src="/src/assets/img/signup_image.svg" data-base-url="/src/assets/img/signup_image.svg" data-extension=".svg" alt="">
                                        </div> -->
                                        app_registration
                                    </span>
                                <div class="process-number">1</div>
                            </div>
                        </div>
                        <div class="process-info">
                            <div class="step-number">1</div>
                            <div class="details">
                                <div class="motto">Sign up</div>
                                <p class="description">Update your professional details/connect linkedin account.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Process step -->
                <div class="column is-4">
                    <div class="process-block has-line">
                        <div class="process-icon is-icon-reveal i-m-icon">
                            <div class="icon-wrapper">
                                <span class="material-icons-outlined i-m-icon">
                                    local_post_office
                                    </span>
                                <div class="process-number">2</div>
                            </div>
                        </div>
                        <div class="process-info">
                            <div class="step-number">2</div>
                            <div class="details">
                                <div class="motto">Apply Remote jobs</div>
                                <p class="description">Apply and complete interviews, accept suitable offer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Process step -->
                <div class="column is-4">
                    <div class="process-block">
                        <div class="process-icon is-icon-reveal">
                            <div class="icon-wrapper">
                                <span class="material-icons-outlined i-m-icon">
                                    how_to_reg
                                    </span>
                                <div class="process-number">3</div>
                            </div>
                        </div>
                        <div class="process-info">
                            <div class="step-number">3</div>
                            <div class="details">
                                <div class="motto">Get Hired</div>
                                <p class="description">GenXYZ.work will conduct the background check, hire employee/contractor as applicable and manage the payroll/payments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  